.carrito-page {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.text {
  position: absolute;
    top: 10vh;
    left: 0vw;
    font-weight: bolder;
    text-shadow: 1px 6px 4px #333;
    color: white;
    z-index: 3;
    border-radius: 10px;
}

